
<h1 class="text-center  bookt">Search Book</h1>
<div class="box">

    <div>
        <label class="lab">Price</label>
        <input type="text" class="form-control inp" [(ngModel)]="book.price" />
    </div>
    
    <div>
        <label class="lab">Category</label>
        <input type="text" class="form-control inp" [(ngModel)]="book.title" />
    </div>

    <div>
        <label class="lab">Publisher</label>
        <input type="text" class="form-control inp" [(ngModel)]="book.category" />
    </div>
    <br>
    <button type="submit" class="buy" style="width: 80%;" (click)="onSubmit()">Search</button>
    <h6 class="text-center text-success">{{msg}}</h6>

</div>