<!-- <div class="container">
    <h1 class="text-center  bookt">Book Payment</h1>
    <div  class="box">
        <div class="col-md-12">
            <label  for="emails" class="lab">Price</label> <br>
            <input type="email" name="email" id="emails" class="form-control inp" [(ngModel)]="book.price">
        </div>

        <div class="col-md-12">
            <label for="userIds" class="lab">Title</label> <br>
            <input type="text" name="userId" id="userIds" class="form-control inp" [(ngModel)]="book.title">
        </div>

        <div class="col-md-12">
            <label for="bookIds" class="lab">Category</label><br>
            <input type="text" name="bookId" id="bookIds" class="form-control inp" [(ngModel)]="book.category">
        </div>
        <br>

        <div class="form-group col-md-12" align="center">
            <button class="buy" id="binp" (click)="onSubmit()">Search</button>
        </div> 
    </div>
</div> -->




<h1 class="text-center  bookt">Search Book</h1>
<div class="box">

    <div>
        <label class="lab">Price</label>
        <input type="text" class="form-control inp" [(ngModel)]="book.price" />
    </div>
    
    <div>
        <label class="lab">Category</label>
        <input type="text" class="form-control inp" [(ngModel)]="book.title" />
    </div>

    <div>
        <label class="lab">Publisher</label>
        <input type="text" class="form-control inp" [(ngModel)]="book.category" />
    </div>
    <br>
    <button type="submit" class="buy" style="width: 80%;" (click)="onSubmit()">Search</button>
    <h6 class="text-center text-success">{{msg}}</h6>

</div>