
<head>
    <style>
      h1 {text-align: center;}
   </style>
    </head>
    <body>
        
                <div class="dgd card p-3 "> 
                    <img src="assets\image\book2.png" class="logo" width="60" height="40" alt="logo">
                    <h1 class="text-success dbook">Digital Book</h1>
                </div>
        
        <div class="row bg-dark p-2"> 
            <div class="col-md-2 text-center"><a routerLink="readeerhomepage">Home</a></div>
            <div class="col-md-2 text-center"><a routerLink="login" routerLinkActive="active">Login</a></div>
            <div class="col-md-2 text-center"><a routerLink="signup">Signup</a> </div>
            
            <div class="col-md-2 text-center"><a routerLink="purchasebook">Buy Book</a></div>
            <div class="col-md-2 text-center"><a routerLink="searchbook">Search Book</a></div>
            
            
        </div>
    </body>