/* .dbook{
    position: relative;
} */

.logo{

    margin-bottom: -48px;
    border-color: green;
    border-width: 2px;
    border-style: solid;
    background-color: greenyellow;

}
.dgd{
background-color: wheat;



    
}