<div class="container">
    <div class="row">

        <div class="col-md-3 update">
            <h4 routerLink="/update">Update Book</h4>
        </div>

        <div class="col-md-3">
            <button class="logout" routerLink="">Logout</button>
        </div>
    </div>
</div>

<h2 class="text-center text-info">Create Book</h2>

<!-- <h2 class="text-center text-info">Create Book</h2> -->
<div class="container box">
    <div class="row">
        <div class="container">
            <div class="row pt-3">
                <div class="col-md-2"></div>
                <div class="col-md-4">
                    <div class="mb-4">
                        <label>Book Title</label>
                        <input type="text" class="form-control" [(ngModel)]="book.title" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-4">
                        <label>Category</label>
                        <input type="text" class="form-control" [(ngModel)]="book.category" />
                    </div>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-2"></div>
                <div class="col-md-4">
                    <div class="mb-4">
                        <label>Publisher</label>
                        <input type="text" class="form-control" [(ngModel)]="book.publisher" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-4">
                        <label>Price</label>
                        <input type="text" class="form-control" [(ngModel)]="book.price" />
                    </div>
                </div>
                <div class="col-md-2"></div>

                <div class="col-md-2"></div>
                <div class="col-md-4">
                    <div class="mb-4">
                        <label>Book Content</label>
                        <input type="text" class="form-control" [(ngModel)]="book.content" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-4">
                        <label>Created Date</label>
                        <input type="text" class="form-control" [(ngModel)]="book.createdDate" />
                    </div>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-2"></div>
                <div class="col-md-4">
                    <div class="mb-4">
                        <label>Modified Date</label>
                        <input type="text" class="form-control" [(ngModel)]="book.modifiedDate" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-4">
                        <label>Logo</label>
                        <input type="text" class="form-control" [(ngModel)]="book.logo" />
                    </div>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-2"></div>
                <div class="col-md-4">
                    <div class="mb-4">
                        <label>AuthorId</label>
                        <input type="text" class="form-control" [(ngModel)]="book.authorId" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-4">
                        <label>Publishes Date</label>
                        <input type="text" class="form-control" [(ngModel)]="book.publishesDate" />
                    </div>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-2"></div>
                <div class="col-md-4">
                    <div class="mb-4">
                        <label>Active</label>
                        <input type="text" class="form-control" [(ngModel)]="book.active" />
                    </div>
                </div>
                <div type="submit" class="btn btn-info" style="width:80%; margin:auto;" align="center" (click)="onSubmit()">Add
                    Book
                    
                </div>

            </div>
        </div>
    </div>
</div>