<!-- <head>
    <style>
      h1 {text-align: center;}
   </style>
    </head>
    <body>
        <h1 class="card text-bg-light p-3 text-success">Digital Book</h1>
        <div class="row bg-dark p-2"> 
            <div class="col-md-2 text-center"><a routerLink="readeerhomepage">Reader Home Page</a></div>
            <div class="col-md-2 text-center"><a routerLink="login" routerLinkActive="active">Login</a></div>
            <div class="col-md-2 text-center"><a routerLink="signup">Signup</a> </div>
             <div class="col-md-2 text-center"><a routerLink="createbook">ADD Book</a></div> -->
            <!-- <div class="col-md-2 text-center"><a routerLink="purchasebook">Buy Book</a></div>
            <div class="col-md-2 text-center"><a routerLink="searchbook">Search Book</a></div>
            
        </div>
    </body> --> 
    
    <router-outlet></router-outlet>

