<div class="container">
    <h1 class="text-center  bookt">Payment Invoice</h1>
    <form #form="ngForm" (ngSubmit)="onSumbit()"  class="box">
        <div class="col-md-12">
            <label  for="emails" class="lab">BuyerEmail</label> <br>
            <input type="email" name="email" id="emails" class="inp" [(ngModel)]="invoice.email">
            
        </div>

        <div class="col-md-12">
            <label for="userIds" class="lab">UserId</label> <br>
            <input type="text" name="userId" id="userIds" class="inp" [(ngModel)]="invoice.userId">
        </div>

        <div class="col-md-12">
            <label for="bookIds" class="lab">BookId</label><br>
            <input type="text" name="bookId" id="bookIds" class="inp" [(ngModel)]="invoice.bookId">
        </div>

        <div class="col-md-12">
            <label for="Payments" class="lab">PaymentDate</label><br>
            <input type="text" name="Payment" id="Payments" class="inp" [(ngModel)]="invoice.payment">
        </div>
        <br>
      
    </form>
</div>
