<div class='card-header'>
    <div class='card-body'>
        <div class="table-responsive">
            <table class="table" *ngIf='invoice.length'>
                <thead>
                    <tr>
                        
                        <th>Email</th>
                        <th>UserId</th>
                        <th>PaymentDate</th>
                        <th>BookId</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let book of invoice">
                    
                        <td>{{book.email}}</td>
                        <td>{{book.userId}}</td>
                        <td>{{book.payment}} </td>
                        <td>{{book.bookId}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>