<div *ngIf="Showgrid" class="row pt-3">
    <div class='card-header'>
        <div class='card-body'>
            <div class="table-responsive">
                <table class="table" *ngIf='books.length'>
                    <thead>
                        <tr>
                            <th>bookId</th>
                            <th>title</th>
                            <th>category</th>
                            <th>price</th>
                            <th>authorId</th>
                            <th>publisher</th>
                            <th>publishesDate</th>
                            <th>content</th>
                            <th>active</th>
                            <th>createdDate</th>
                            <th>modifiedDate</th>
                            <th>Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let book of books">
                            <td>{{book.bookId}}</td>
                            <td>{{book.title}}</td>
                            <td>{{book.category}}</td>
                            <td>{{book.price}} </td>
                            <td>{{book.authorId}}</td>
                            <td>{{book.publisher}}</td>
                            <td>{{book.publishesDate}}</td>
                            <td>{{book.content}}</td>
                            <td>{{book.active}}</td>
                            <td>{{book.createdDate}}</td>
                            <td>{{book.modifiedDate}}</td>
                            <td><a (click)='onSubmit(book)' class="btn btn-danger">Edit</a></td>
                            <td ><a router-Link="/update"></a></td> 
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div *ngIf="ShowFields" class="row pt-3">
    <label for="name"><b>BookId</b></label>
    <input type="text" name="bookId" [(ngModel)]="book.bookId">

    <label for="category"><b>Title</b></label>
    <input type="text" name="title" [(ngModel)]="book.title">

    <label for="price"><b>Category</b></label>
    <input type="text" name="category" [(ngModel)]="book.category">

    <label for="price"><b>Price</b></label>
    <input type="text" name="price" [(ngModel)]="book.price">


    <label for="publisher"><b>Publisher</b></label>
    <input type="text" name="publisher" [(ngModel)]="book.publisher">


    <label for=""><b>PublishedDate</b></label>
    <input type="text" name="PublishesDate" [(ngModel)]="book.publishesDate">

    <label for="content"><b>Content</b></label>
    <input type="text" name="content" [(ngModel)]="book.content">

    <label for="active"><b>Active</b></label>
    <input type="text" name="active" [(ngModel)]="book.active">

    <label for="active"><b>CreatedDate</b></label>
    <input type="text" name="createdDate" [(ngModel)]="book.createdDate">

    <label for="active"><b>ModifiedDate</b></label>
    <input type="text" name="modifiedDate" [(ngModel)]="book.modifiedDate">

    <div class="form-group">
        <a (click)='updateBook(book)' href="update">Save </a>
        <!-- <button>Create</button> -->
    </div>
</div>